*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 175, 193);
}
.section{
    min-height: 100vh;
    padding-top: 100px;

}
.container{
max-width: 1440px;
margin-left: auto;
margin-right: auto;
padding-left: 20px;
padding-right: 20px;

}
h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(218, 22, 12);
}
.Accordian{
    margin: auto; 
    max-width: 1000px;
    
}
.accordian_item{
    padding: 20px;
    border: 1px solid black;
}
.accordian_title{
    display: flex;
    font-size: 1.5em;
    padding-bottom: 20px;

}
.accordian_content{
    display: none;
}



/* when the accordian title have a active class the below css will run  */
.accordian_title.active + .accordian_content{
    display: block;
}

.accordian_content {
    font-size: 20px;
    color: rgb(153, 234, 14);

}